/* reset */
html,body{height: 100%;}
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,li{list-style: none;}
a:link, a:visited{text-decoration: none; color: black;}
.clearfix::after{content: ""; display: block; clear: both;}

.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* navbar */
.navWrap{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navWrap .navbar ul li{
    float: left;
}
.navWrap .navbar ul li a{
    font-size: 26px;
    margin: 0px 45px;
}
.navWrap .recruit{
    font-size: 26px;
}

/* home */
.home{
    width: 100%;
    height: 800px;
    background-image: url(./image/main_banner_pc.png);
}
.toggle{
    color: white;
}
.toggle .st1{
    font-size: 54px;
}
.toggle .st2{
    font-size: 84px;
}
.toggle .st3{
    font-size: 30px;
    line-height: 50px;
}

/* position absolute일 시 relatuve 어디에?  */


/* main */
.company{
    width: 100%;
    padding: 80px 0px 60px 0px;
}
.company ul li{
    float: left;
    margin-right: 30px;
}
.company_link{
    margin-bottom: 60px;
}
.company .area_link{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
}
.company .item_title{
    font-size: 18px;
}
.company .item_content{
    font-size: 16px;
}
.company .item_price{
    font-size: 40px;
    float: left;
    font-weight: bold;
}
.company .item_changeUp{
    float: right;
}
.company span{
    float: right;
}
.company img{
    width: 380px;
    height: 240px;
}


.culture{
    width: 100%;
    height: 394px;
    background: url(./image/culture_pc.png) no-repeat;
    background-size: cover;
}
.culture_title{
    font-size: 20px;
    margin: 0px 0px 28px;
}
.culture_content{
    font-size: 24px;
    line-height: 40px;
}


.job{
    background: #EFF1F6;
    height: 191px;
}
.job_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.job a{
    border: 1px solid #1E1E1E;
    height: 46px;
    padding: 10px 20px;
    margin-top: 16px;
    border-radius: 2px;
}

/* footer */
.footer{
    padding: 50px;
    background: #fff;
}
.footer_left{
    float: left;
}
.footer_left .footer_link :first-child{
    padding: 0px 15px 0px 5px;
    font-size: 16px;
}
.footer_left .footer_link :last-child{
    padding: 0px 15px;
    font-size: 16px;
}
.footer_left .addr{
    padding: 20px 5px 0px;
}
.footer_left .copyright{
    padding: 20px 0px 0px 5px;
}
.footer_right{
    float: right;
}
#familysite{
    width: 145px;
    height: 44px;
    font-size: 14px;
    margin-right: 8px;
    padding-left: 10px;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-weight: 300;
}
.footer_right button{
    padding: 10px 15px 11px;
}
.footer_right .sns{
    margin-top: 20px;
    text-align: right;
}
.footer_right .sns a{
    margin-left: 10px;
}
