/* reset */
* {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

ul, li {
  list-style: none;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* navbar */
.navTop {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 20px 0px;
  background-color: transparent;
  display: flex;
}
.navTop .gnb {
  margin-left: auto;
}
.navTop .gnb ul {
  display: flex;
  height: 100%;
}
.navTop .gnb li {
  height: 100%;
}
.navTop .gnb li:hover, .navTop .gnb li.active {
  background: rgb(57, 206, 203);
  border-radius: 10px;
}
.navTop .gnb li a {
  height: 100%;
  font-size: 20px;
  color: white;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTop .gnb img{
  width: 200px;
  height: 70px;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* page 큰 틀 */
.wrap div {
  position: absolute;
}
.wrap div.txt1 {
  transform: translateY(100px);
  opacity: 0;
}
.wrap div.txt2 h2:nth-child(1) {
  transform: translateX(-200px);
  opacity: 0;
}
.wrap div.txt2 h2:nth-child(2) {
  transform: translateX(200px);
  opacity: 0;
}
@-webkit-keyframes txtAni1 {
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes txtAni1 {
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@-webkit-keyframes txtAni21 {
  60% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes txtAni21 {
  60% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes txtAni22 {
  60% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes txtAni22 {
  60% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.wrap.move .txt1 {
  -webkit-animation: txtAni1 1.5s alternate forwards;
          animation: txtAni1 1.5s alternate forwards;
}
.wrap.move .txt2 h2:nth-child(1) {
  -webkit-animation: txtAni21 1s alternate forwards;
          animation: txtAni21 1s alternate forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.wrap.move .txt2 h2:nth-child(2) {
  -webkit-animation: txtAni22 1s alternate forwards;
          animation: txtAni22 1s alternate forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.page1 .txtWrap {
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
.page1 .txtWrap.move {
  transform: translateY(-300px);
  opacity: 1;
}
.page1 .download a img{
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
.page1 .download a img.move {
  transform: translateY(-100px);
  opacity: 1;
}

.page2 .txtWrap {
  transform: translateY(-100px);
  transition: 2s;
  opacity: 0;
}
.page2 .txtWrap.move {
  transform: translateY(0);
  opacity: 1;
}
.page2 .order{
  width: 250px;
  text-align: center;
  padding: 50px 0px;
  border: 1px soild white;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 40%;
  bottom: 200px;
}
.page2 .order:hover{
  color: white;
  border: 1px solid rgb(57, 206, 203);
  background-color: rgb(57, 206, 203);
  transform: scale(1);
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1080px 800px;
  overflow: hidden;
}
.section.page1 {
  background-image: url(../image/main_04@2x.jpg);
  background-size: cover;
}
.scrollBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: xScroll 1s infinite alternate;
          animation: xScroll 1s infinite alternate;
}
@-webkit-keyframes xScroll {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 50px;
  }
}
@keyframes xScroll {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 50px;
  }
}
.section.page2 {
  background-color: rgb(42, 193, 188);
  background-image: url(../image/img-people@2x.png);
  background-position: 100% 100%;
}
.section.page3 {
  background-color: rgb(42, 193, 188);
  background-image: url(../image/img-present@2x.png);
  background-position: 100% 100%;
}
.section.page4 {
  background-color: rgb(42, 193, 188);
  background-image: url(../image/img-flag@2x.png);
  background-position: 100% 100%;
}
.section.page4 .container {
  transform: translateY(-200px);
}/*# sourceMappingURL=style01.css.map */

.page4 .btn{
  border: 1px solid white;
  background-color: white;
  margin: 30px;
  width: 200px;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
.page4 .btn:hover{
  color: white;
  border: rgb(57, 206, 203);
  background-color: rgb(57, 206, 203);
}
/* footer */
.footer{
  display: flex;
  justify-content: space-between;
}
.sector img{
  width: 600px;
  height: 300px;
}
.copyright {
  color: gray;
  font-size: 20px;
  padding: 3px;
}
.sns li{
  display: flex;
  background-color: skyblue;
  height: 100%;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.footer ul{
  margin-left: auto;
  display: flex;
  background-color: pink;
}
.footer_link ul li{
  float: left;
  padding-right: 30px;
}