/* reset */
*{margin: 0; padding: 0;}
html,body{height: 100%;}
ul,li{list-style: none;}
a:link, a:visited{text-decoration: none; color: #333;}
.clearfix::after{clear: both; display: block; content: "";}

.container{
    width: 1280px;
    margin: 0 auto;
}

/* navbar */
.navWrap{width: 100%; position: fixed; background: white; padding: 30px;}
.logo{float: left;}
.gnb{float: right;}
.gnb li{float: left; width: 150px;}
.gnb li a{color: black; font-size: 30px;}

/* slide */
.slide{height: 100vh; background-color:  green;}

/* home */
.title{padding: 160px 0px; background-color: yellow;}
.title_1{float: left; font-size: 44px; font-weight: 700;}
.title_2{float: right; font-size: 18px;}


/* link */
.link li{
    float: left;
    width: calc( (100% - 40px) / 3);
}
.link ul li{
    margin-right: 20px;
    background-color: pink;
}
.link li img{
    width: 100%;
}
.link li:last-child{
    margin-right: 0px;
}
.link .txtbox{
    padding: 20px 16px 0px;
}
/* 재단활동 */
.sec1{
    position: relative;
}
.box{
    border: 1px solid #ffd44a;
    background-color: #ffd44a;
    width: 1114px;
    height: 338px;
    margin-top: 30px;
}
.img{
    width: 592px;
    height: 360px;
    position: absolute;
    top: 102px;
    right: 0;
}

/* 재단소식 */
.title2{
    margin-top: 160px;
    background-color: #9e9a9a;
}
.title h2:after{
    width: 50px; height: 10px;
    border: 1px solid #ffd44a;
    background-color: #ffd44a;
}
.category{float: right;}
.category li{
    float: left; padding: 0px 24px; font-size: 14px; font-weight: 500;
    border: 1px solid gray; border-radius: 19px; background-color: #f0f1f2;
    color: #1e1e1e; line-height: 38px; margin-left: 8px;
}

/* footer */
.footer_inner{
    float: left;
    background-color: black;
    width: 100%;
}
.footer_inner .copyright{
    margin: 26px 0px 0px;
    color: lightgray;
}
.footer_inner .site li{
    margin: 46px 0px 0px;
}
.footer_inner .site li a{
    float: left;
    color: white;
    margin-right: 15px;
}
.footer_inner .family{
    float: right;
    border: 1px solid gray;
}
.footer_inner .mobile{
    float: right;
}
.footer_inner .mobile li{
    float: left;
}