body{font-family: 'Noto Sans KR', sans-serif;};
/* navbar */
.navbar{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.nav{
    clear: both;
    width: 1280px;
}
.logo{
    float: left;
}
.navbar .nav .logo a{
    text-decoration: none;
}
.gnb{
    float: right;
}
.gnb ul li{
    list-style: none;
    float: left;
    display: inline-block;
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
}
.gnb ul li a{
    text-decoration: none;
}
/* slide */

/* home */
.title{
    float: left;
    clear: both;
}
.title_01{
    font-size: 44px;
    font-weight: 700;
}
.title_02{
    font-size: 18px;
    padding-left: 624px;
}
.link_list{
   clear: both;
   float: left;
}

/* footer */