@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

/* 전체 reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a:link,a:visited{ 
    text-decoration: none;
    color:#333;
    cursor: pointer;
}
body{font-family: 'Noto Sans KR', sans-serif;}
.clearfix::after{
    content:""; clear: both; display: block;
}
/* navbar */
.navWrap{
    position: fixed;
    width: 100%;
    background: transparent;
}
.navWrap:hover{
    background: white;
}
.navbar{
    width: 1280px;
    margin: 0 auto;
}
.navbar h1{
    float: left;
}
.navbar h1 a{
    background: url(./image/bi-dark.9d78fda.png) no-repeat;
    background-size: 165px auto;
}
.navbar h1 a:hover{
    background: url(./image/bi.6acdb84.png) no-repeat;
}
.navbar .gnb{
    float: right;
}
.gnb li{
    float: left;
    width: 150px;
}
.gnb li a{ 
    display: block;
    text-align: center;
    line-height: 45px;
    color: white;
    line-height: 45px;
}
.gnb li a:hover{
    color: black;
}

/* slide */
.slide{
    height: 100vh;
    background-image: url(./image/banner01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* home */
.home{
    width: 1280px;
    margin: 0 auto;
}
.title{

}
.title_01{
    float: left;
}
.title_02{
    float: right;
}
.link{
    width: 1280px;
    margin: 0 auto;
}
.link_list a{
    float: left;
}
.thumb1{
    background-image: url(./image/link01.8c7a40e.jpg) no-repeat;
    width: 100%;
    height: 450px;
    margin-right: ;
}
.thumb2{
    background-image: url(./image/link02.b7f7bba.jpg) no-repeat;
    width: 100%;
    height: 450px;
}
.thumb3{
    background-image: url(./image/link03.73d78ef.jpg) no-repeat;
    width: 100%;
    height: 450px;
}
.link_list .txtbox .tit{
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    padding-right: 28px;
}   